.downloadMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 35px 0;
    padding: 8px 32px;
    max-height: 120px;
    color: white;
    background-color: red;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.downloadText {

    flex: 1;
    /* display: block; */
}

.images {

    display: flex;
    align-items: center;
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    margin: 0 15px;
    object-fit: contain;
    overflow: hidden;
}

/* @media screen and (max-width: 940px) {
    .images {
        height: auto;
        margin: 0 32px;
        max-width: 100%;
    }
} */