@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.newsCard {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    display: flex;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    height: 284px;
    margin: 0 50px 20px;

    padding: 8px 8px 8px 0;
}

.newsText {
    height: inherit;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0 0 0 10px;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.author {
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    color: #808290;
}

.lowerNewsText {
    font-size: 16px;
    line-height: 22px;
    margin-top: 8px;
    flex: 1;
}

.readMore {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    bottom: 0;
}

.newsImage {
    object-fit: cover;
    border-radius: 4px;
    height: 100%;
    margin-right: 16px;
    margin-left: 8px;
    min-width: 380px;
    width: 100%;
}

.source {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 26px;
    line-height: 27px;
    font-family: "Roboto", sans-serif;
}

.muted {
    font-weight: 100;
}

.description {
    font-size: 16px;
    line-height: 22px;
    color: #44444d;
}

@media (max-width:1020px) {
    .newsCard {
        flex-direction: column;
        height: 100%;
        min-height: 400px;
    }

    .newsImage {
        width: 98%;
        height: 100%;
        padding-bottom: 20px;
        object-fit: contain;
    }
}